.video-item {
	width: 330px;
	height: 215px;
	display: flex;
	flex-direction: column;
	position: relative;
	border-radius: 15px;

	.video-player {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 15px;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 15px;
	}

	.video-des {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 30%;
		padding: 5px 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 5px;
		background-color: rgb(255, 255, 255, 0.7);
		border-radius: 0 0 15px 15px;
		cursor: pointer;
		overflow: hidden;
		transition: all 0.3s ease;

		.title {
			font-size: 1.25rem;
			font-weight: 600;
		}

		.additional {
			height: 0;
			opacity: 0;
		}
	}

	&:hover .video-des {
		height: 100%;
		border-radius: 15px;

		.additional {
			opacity: 1;
			height: auto;
		}
	}
}

.video-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, 330px);
	align-items: center;
	justify-content: center;
	gap: 50px;
	grid-auto-flow: auto;
	direction: rtl;
	padding: 40px 0;
}
